.img-resort {
  width: 100%;
}
.heading{
  padding: 30px 30px 0 30px;
  color: #43AFE0;
}
.main{
  padding: 30px;
}
.sub-head{
  padding-bottom: 20px;
  color: #43AFE0;
}
.para{
  padding-top: 20px;
  font-size: 22px;
}