.thumbnails {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
}
.logo {
  height: 50px;
  width: 50px;
}

.heading {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-top: 20px;
  color: #0096db;
}
.subheading {
  margin-left: auto;
  margin-right: auto;
  color: #43afe0;
}
.main-nav {
  height: 40px;
  border-bottom: 1px solid #ccc;
  width: 100%;
}